{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baby Tracker API</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
</head>
<body>
    <div style="text-align: center; margin-top: 50px;">
        <h1>Welcome to Baby Tracker API</h1>
        <p>API documentation is available at <a href="/api/docs/">/api/docs/</a></p>
    </div>
</body>
</html>